$font-stack: Roboto, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  padding: 0;
  margin: 0;
}

nav {
  position: relative;
  background-color:  $primary-color;
  padding: 20px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.footer {
  position:sticky;
  bottom: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: $primary-color;
}

.bodyPage{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyHomePage {
  background-image: url('src/img/san-pablo-valladolid.jpg');
  background-size: cover;
  color: #000;

  .main{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .weather{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.bodyAboutPage {
  background-image: url('src/img/about.jpg');
  background-size:auto;
  background-repeat: no-repeat;
  color: #000;
  font-size: 20px;

  .wrapAbout{
    border: 5px solid $primary-color;
    //height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .blockOne,
  .blockTwo,
  .blockThree {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $primary-color;
  }

  .blockTwo {
    justify-content: end;
  }


}



